* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
}



header {
    width: 100vw;
    height: 10vh;
    margin: 0px;
}

button {
    width: 40px;
    height: 28px;
}

.formButton {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.formButton.animation {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.inputValue {
    width: 60%;
    display: grid;
}

.inputValue > input, .inputValue > label {
    grid-area: 1/1;
}

input {
    margin: auto;
    width: 100%;
    height: 85%;
    font-size: 20px;
    color: #222222;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    text-align: center;
    background: none;
    z-index: 5;
}

input::placeholder { color: #aaaaaa; }
input:focus { outline: none; }

span {
    margin: auto;
    margin-top: -1.4%;
    display: block;
    bottom: 0;
    top: 40%;
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transform: translateX(0%);
    transition: 0.55s;
}

label {
    display: block;
    margin: auto;
    color: #aaa;
    left: 50%;
    transform: translateY(-25%);
    font-size: 20px;
    bottom: 8px;
    transition: all .2s;
}

input:focus ~ label, input:valid ~ label {
    font-size: 16px;
    margin-top: -6%;
    color: #666;
    font-weight: bold;
}

input:focus ~ span, input:valid ~ span {
    width: 100%;
}

.inputValue:has(#confirmPassword) {
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.inputValue:has(#confirmPassword.animation) {
    opacity: 1;
    transform: scale(1);    
    transition: opacity 0.5s ease, transform 0.5s ease;
}




form {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}



.bigArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 44vw;
    height: 70vh;
    transition: height 0.5s ease;
    margin-left: 28vw;
    margin-top: 15vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniTitle {
    font-size: 30px;
    margin-top: -5%;
    grid-area: 1/1;
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.miniTitle.animation {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.loginText.animation {
    opacity: 0;
    transform: translateY(100%);
}

.signUpText.animation {
    opacity: 0;
    transform: translateY(-100%);
}

.formArea {
    width: 90%;
    height: 75%;
    margin: 10px;
    background-color: white;
}

.changeForm {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
}


button {
    width: 17vw;
    height: 7vh;
    background-color: rgb(192, 192, 192);
    border: 0;
    border-radius: 3.40282e+38px;
    font-size: 20px;
}

button:active, button:hover {
    background-color: rgb(174, 174, 174);
}


